<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796788527323-atm4pm84djsol7cb5cjuduqqevj0ijkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796788527323-atm4pm84djsol7cb5cjuduqqevj0ijkf</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-Q1DJHFnu9uI-9hif0kHIWnertCs4qY</string>
	<key>GCM_SENDER_ID</key>
	<string>796788527323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easynaps.EasyWeather</string>
	<key>PROJECT_ID</key>
	<string>pubnative-easy-weather</string>
	<key>STORAGE_BUCKET</key>
	<string>pubnative-easy-weather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796788527323:ios:edbd1adc8c15882a</string>
	<key>DATABASE_URL</key>
	<string>https://pubnative-easy-weather.firebaseio.com</string>
</dict>
</plist>